.App {
    background-color: white;
    color: black;
  }
  
  .App.dark-mode {
    background-color: #1a202c; 
    color: white; 
  }

.toggle-button{
    @apply ml-[85rem] bg-black text-white p-4
}

button{
    @apply hover:bg-orange-500  ease-in-out duration-500
}

a, li{
    @apply hover:border-b hover:text-orange-600 border-b-red-600 ease-in-out duration-200
}

img{
    @apply hover:cursor-pointer
}
